h2{
    text-align: center;
    text-decoration: double;
}
table{
    width: 600px;
    border: 2px solid black;
    position: absolute;
    left: 680px;
}
.heading {
    background-color: rgba(112, 80, 255, 0.589);
    border: 2px solid black;
}
#big{
    height: 100px;
    width: 330px;
}
.footer{
    position: absolute;
    top: 750px;
    left: 860px;
    text-decoration: double;
}
.footer1{
    position: absolute;
    top: 750px;
    left: 650px;
    text-decoration: double;
}
div{
    position: absolute;
    top: 800px;
    left: 650px;
    border: 1px solid grey;
}
tr td {
    border: 2px solid black;
}