body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
table{
    width: 600px;
    border: 2px solid black;
}
.heading {
    background-color: rgba(112, 80, 255, 0.589);
    border: 2px solid black;
}
#big{
    height: 100px;
    width: 330px;
}
div{
    position: absolute;
    top: 800px;
    left: 650px;
    border: 1px solid grey;
}
tr td {
    border: 2px solid black;
}